---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import ContactFooter from "../components/ContactFooter.astro";
---

<BaseLayout title="Will Moppel Portfolio">
  <SiteHeader />
  <main>
    <Hero />
    <About />
    <Skills />
    <Education />
    <Projects />
  </main>
  <ContactFooter />
</BaseLayout>
